ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.booksContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.loading {
  color: black;
  text-align: center;
  padding: 50px;
  font-size: 24px;
}
