.bookCard {
  /* Add shadows to create the "card" effect */
  flex: 5 5 calc(20% - 10px);
  display: flex;
  list-style: none;
  flex-direction: column;
  transition: 0.3s;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  background-color: white;
  max-width: 100%;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.bookCard:hover {
  background-color: white;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

header {
  padding: 10px;
  position: relative;
}

/* Add some padding inside the card container */
.cardContainer {
  padding: 2px 16px;
}

h4,
h5 {
  padding: 5px 0 5px 0;
  margin: 5px 0;
}

.link {
  padding: 0 0 10px 0;
}
