html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
html,
body {
  background-color: white;
}
.App {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  height: 100vh;
}
